---
import { CollectionEntry, getCollection } from "astro:content";
import { Image, getImage } from "astro:assets";
import ContentLayout from "../../layouts/content.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Gallery from "../../components/gallery";
import { Debug } from 'astro/components';


export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();


const images = await Promise.all(
	[post.data.cover, post.data.images].flat().filter(i=>i!==undefined ).map(async (i) => {
		return {
			original: (
				await getImage({
					src: i,
				})
			).src,
			thumbnail: (
				await getImage({
					src: i,
					width: 100,
				})
			).src,
		};
	})
);
---

<ContentLayout title={post.data.title}>
	<style lang="scss" is:global>
		@import "../../styles/post.scss";
  
	</style>
	<script></script>
	<article>
		<h2>{post.data.title}</h2>
		<div class="meta"><FormattedDate date={post.data.date} /></div>
		<div id="gallery">
			<Gallery images={images} client:load />
		</div>
		<Content />
	</div>
	</div>
	</article>
</ContentLayout>
