@import '../styles/global.scss';

div.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    transition: all ease 0.5s;

    a {
        aspect-ratio: 1;
        display: flex;
        position: relative;

        img {
            object-fit: cover;
            object-position: center;
            min-height: 100.2%;
            min-width: 100.2%;
            max-height: 100.8%;
            max-width: 100.8%;
        }	

        p {
            @include font-montserrat;
            
            position: absolute;
            margin: 0;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.8);
            text-align: center;

            color: $light-grey;
            font-size: 1.2rem;
            opacity: 0;

            // slow hiding
            transition: all 3s ease;
            z-index: 6;
        }

        span.sub-title{
            margin-top:1rem;
            display: inline-block;
        }

        .sub-title{
            font-size:80%;
        }
        
        &:after {
                content: "";
                display: block;
                position: absolute;
                object-fit: cover;
                object-position: center;
                width: 100.3%;
                height: 100.3%;
                top: 0;
                opacity: 0;
                background: rgba(0, 0, 0, 0.55);

                // slow hiding
                transition: all 3s ease;
            }

        &:hover, &.fadeOutOnLoad {
            &:after {
                opacity: 1;

                // fast showing of title
                transition: all 0.6s ease;
            }
            p {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);

                // fast showing of title
                transition: all 0.6s ease;
            }
        }
    }
}