@import '../styles/global.scss';

div.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    a {
        aspect-ratio: 1;
        display: flex;
        position: relative;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
            height:100%;
            width: 100%;
        }	

        p {
            @include font-montserrat;
            
            position: absolute;
            margin: 0;
            width: 100%;
            top: 100%;
            transform: translateY(-3rem) scale(0.8);
            text-align: center;
            vertical-align: middle;

            color: $light-grey;
            font-size: 1.2rem;
            opacity: 1;

            transition: all 0.6s ease;
            z-index: 6;
        }

        .title{
            height: 1.3rem;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            transition: all 0.6s ease;
        }

        .country{
            top: -.3rem;
            position: relative;
        }

        .sub-title{
            height: 1rem;
            overflow: hidden;
            margin-top:0rem;
            display: inline-block;
            font-size:80%;
            transition: all 0.6s ease;
        }
        
        &:after {
                content: "";
                display: block;
                position: absolute;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                opacity: 1;
                background: rgba(0, 0, 0, 0.55);

                transform: translateY(calc(100% - 2.7rem));
                transition: all 0.6s ease;
            }

        &:hover {
            &:after {
                transform: translateY(0);
            }
            p {
                top: 50%;
                transform: translateY(-50%) scale(1);
            }
            .title{
                height: unset;
                white-space: unset;
                text-overflow: unset;
            }
            .sub-title{
                height: unset;
            }
        }
    }
}