@import "global.scss";

article {
  h2 {
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    @include font-title;
    font-size: 2.3rem;
    margin: .5rem;
  }

  .meta {
    text-align: center;
    width: 100%;
    margin-top: -0.4rem;
    margin-bottom: 2rem;
    font-size: .9rem;
  }

  img {
    display: block;
    width: 75%;
    margin: auto;
    aspect-ratio: auto;
    height: auto;
    padding-bottom: 3rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: #525452;
    text-align: justify;
    padding: 0 10px;

    /* dropcap */
    &:first-of-type:first-letter {
      color: #333;
      font-size: 6rem;
      text-transform: uppercase;
      float: left;
      line-height: 5rem;
      font-weight: 700;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 0px;
    }
  }
}

.grid-sizer,
.grid-item {
 

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    width: 50%;
  }

  @media only screen and (min-width: 992px) {
    width: 33%;
  }


  img {
    width: calc(100% - .4rem);
    padding-top: .2rem;
  }

  .image-desc{
    opacity: 1;
    position: absolute;
    bottom: .2rem;
    width: calc(100% - .8rem);
    font-size: .8rem;
    padding: 0.4rem;
    background: hsla(0,0%,100%,.75);
    transition: opacity .25s;
    margin: 0;
    color:#0a0a0a;
    max-height: 25%;
    
    overflow-wrap: break-word;
    word-break: break-all; 
    overflow: hidden;

    &:empty{
      display: none;
    }
  }
}

.pswp{
  background:black;
}


.pswp__custom-caption {
  color: white;
  font-size: .9rem;
  height: 30px;
      
  overflow-wrap: break-word;
  word-break: break-all; 
  overflow: hidden;
  padding: 0px 5%;
  width: 100%;
  position: absolute;
  bottom:0;
  text-align: center;
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}
.hidden-caption-content {
  display: none;
}

.comments {
  padding-top: 2.5rem;
}