---
import ContentLayout from '../layouts/content.astro';
---

<ContentLayout
	title="Über uns"
>
<article>
	<h2>Über uns</h2>
<p>Wir sind Janosch und Nadine. Zwar kennen wir uns noch nicht mal ein Jahr, lange genug aber um Job und Wohnung aufzugeben und gemeinsam für längere Zeit zu verreisen. Mit unserem selbst umgebauten Büssli möchten wir ostwärts fahren, neue Länder aber auch uns selbst besser kennenlernen. Wo unsere Route uns genau durchführt und wann wir wieder zurückkommen, ist offen. Über unseren Blog  könnt ihr uns auf unserer Reise begleiten. Viel Spass!
</p>
<p>Die Karte wird automatisch aktualisiert, sobald das Büssli fährt. Denkt aber nicht, dass ihr uns am "aktuellen" Standort überraschen könnt. Dieser entspricht bewusst nicht unserer ganz aktullen Position.</p>
</article>
</Layout>
