---
import ContentLayout from "../layouts/content.astro";
---

<ContentLayout title="Benachrichtigung">
	<article>
		<h2>Benachrichtigung</h2>
		<p>
			Willst du nicht immer wieder unseren Blog öffnen, nur um zu schauen
			ob es einen neuen Post hat? Dann kannst du unseren <a
				href="/rss.xml">RSS Feed</a
			> abonnieren.
		</p>
		<p>
			RSS sagt dir nichts? Dann klicke auf "Subscribe" in <a
				target="_blank"
				href="https://feedrabbit.com/subscriptions/new?url=https%3A%2F%2Fxn--berlandpost-shb.ch%2Frss.xml"
				>diesem Formular</a
			> (externer Anbieter), und gib danach deine Email Adresse ein. Nun solltest
			du jeweils eine Email bekommen, wenn es einen neuen Beitrag gibt.
		</p>
	</article>
</ContentLayout>
